<Files ~ "^\.(htaccess|htpasswd)$">
deny from all
</Files>
ErrorDocument 404 http://eventify.byethost5.com/404.html
DirectoryIndex index.html       
            AddType text/h323 .323
            AddType video/3gpp2 .3g2
            AddType video/3gpp2 .3gp2
            AddType video/3gpp .3gp
            AddType video/3gpp .3gpp
            AddType audio/aac .aac
            AddType application/octet-stream .aaf
            AddType application/octet-stream .aca
            AddType application/msaccess .accdb
            AddType application/msaccess .accde
            AddType application/msaccess .accdt
            AddType application/internet-property-stream .acx
            AddType audio/vnd.dlna.adts .adt
            AddType audio/vnd.dlna.adts .adts
            AddType application/octet-stream .afm
            AddType application/postscript .ai
            AddType audio/x-aiff .aif
            AddType audio/aiff .aifc
            AddType audio/aiff .aiff
            AddType application/x-ms-application .application
            AddType image/x-jg .art
            AddType application/octet-stream .asd
            AddType video/x-ms-asf .asf
            AddType application/octet-stream .asi
            AddType text/plain .asm
            AddType video/x-ms-asf .asr
            AddType video/x-ms-asf .asx
            AddType application/atom+xml .atom
            AddType audio/basic .au
            AddType video/x-msvideo .avi
            AddType application/olescript .axs
            AddType text/plain .bas
            AddType application/x-bcpio .bcpio
            AddType application/octet-stream .bin
            AddType image/bmp .bmp
            AddType text/plain .c
            AddType application/vnd.ms-cab-compressed .cab
            AddType application/vnd.ms-office.calx .calx
            AddType application/vnd.ms-pki.seccat .cat
            AddType application/x-cdf .cdf
            AddType application/octet-stream .chm
            AddType application/x-java-applet .class
            AddType application/x-msclip .clp
            AddType image/x-cmx .cmx
            AddType text/plain .cnf
            AddType image/cis-cod .cod
            AddType application/x-cpio .cpio
            AddType text/plain .cpp
            AddType application/x-mscardfile .crd
            AddType application/pkix-crl .crl
            AddType application/x-x509-ca-cert .crt
            AddType application/x-csh .csh
            AddType text/css .css
            AddType application/octet-stream .csv
            AddType application/octet-stream .cur
            AddType application/x-director .dcr
            AddType application/octet-stream .deploy
            AddType application/x-x509-ca-cert .der
            AddType image/bmp .dib
            AddType application/x-director .dir
            AddType text/xml .disco
            AddType application/x-msdownload .dll
            AddType text/xml .dll.config
            AddType text/dlm .dlm
            AddType application/msword .doc
            AddType application/vnd.ms-word.document.macroEnabled.12 .docm
            AddType application/vnd.openxmlformats-officedocument.wordprocessingml.document .docx
            AddType application/msword .dot
            AddType application/vnd.ms-word.template.macroEnabled.12 .dotm
            AddType application/vnd.openxmlformats-officedocument.wordprocessingml.template .dotx
            AddType application/octet-stream .dsp
            AddType text/xml .dtd
            AddType application/x-dvi .dvi
            AddType video/x-ms-dvr .dvr-ms
            AddType drawing/x-dwf .dwf
            AddType application/octet-stream .dwp
            AddType application/x-director .dxr
            AddType message/rfc822 .eml
            AddType application/octet-stream .emz
            AddType application/vnd.ms-fontobject .eot
            AddType application/postscript .eps
            AddType text/x-setext .etx
            AddType application/envoy .evy
            AddType application/octet-stream .exe
            AddType text/xml .exe.config
            AddType application/vnd.fdf .fdf
            AddType application/fractals .fif
            AddType application/octet-stream .fla
            AddType x-world/x-vrml .flr
            AddType video/x-flv .flv
            AddType image/gif .gif
            AddType application/x-gtar .gtar
            AddType application/x-gzip .gz
            AddType text/plain .h
            AddType application/x-hdf .hdf
            AddType text/x-hdml .hdml
            AddType application/x-oleobject .hhc
            AddType application/octet-stream .hhk
            AddType application/octet-stream .hhp
            AddType application/winhlp .hlp
            AddType application/mac-binhex40 .hqx
            AddType application/hta .hta
            AddType text/x-component .htc
            AddType text/html .htm
            AddType text/html .html
            AddType text/webviewhtml .htt
            AddType text/html .hxt
            AddType text/calendar .ical
            AddType text/calendar .icalendar
            AddType image/x-icon .ico
            AddType text/calendar .ics
            AddType image/ief .ief
            AddType text/calendar .ifb
            AddType application/x-iphone .iii
            AddType application/octet-stream .inf
            AddType application/x-internet-signup .ins
            AddType application/x-internet-signup .isp
            AddType video/x-ivf .IVF
            AddType application/java-archive .jar
            AddType application/octet-stream .java
            AddType application/liquidmotion .jck
            AddType application/liquidmotion .jcz
            AddType image/pjpeg .jfif
            AddType application/octet-stream .jpb
            AddType image/jpeg .jpe
            AddType image/jpeg .jpeg
            AddType image/jpeg .jpg
            AddType application/javascript .js
            AddType text/jscript .jsx
            AddType application/x-latex .latex
            AddType application/x-ms-reader .lit
            AddType application/octet-stream .lpk
            AddType video/x-la-asf .lsf
            AddType video/x-la-asf .lsx
            AddType application/octet-stream .lzh
            AddType application/x-msmediaview .m13
            AddType application/x-msmediaview .m14
            AddType video/mpeg .m1v
            AddType video/vnd.dlna.mpeg-tts .m2ts
            AddType audio/x-mpegurl .m3u
            AddType audio/mp4 .m4a
            AddType video/mp4 .m4v
            AddType application/x-troff-man .man
            AddType application/x-ms-manifest .manifest
            AddType text/plain .map
            AddType application/x-msaccess .mdb
            AddType application/octet-stream .mdp
            AddType application/x-troff-me .me
            AddType message/rfc822 .mht
            AddType message/rfc822 .mhtml
            AddType audio/mid .mid
            AddType audio/mid .midi 
            AddType application/octet-stream .mix
            AddType application/x-smaf .mmf
            AddType text/xml .mno
            AddType application/x-msmoney .mny
            AddType video/quicktime .mov
            AddType video/x-sgi-movie .movie
            AddType video/mpeg .mp2
            AddType audio/mpeg .mp3
            AddType video/mp4 .mp4 
            AddType video/mp4 .mp4v
            AddType video/mpeg .mpa
            AddType video/mpeg .mpe
            AddType video/mpeg .mpeg
            AddType video/mpeg .mpg
            AddType application/vnd.ms-project .mpp
            AddType video/mpeg .mpv2
            AddType application/x-troff-ms .ms
            AddType application/octet-stream .msi
            AddType application/octet-stream .mso
            AddType application/x-msmediaview .mvb
            AddType application/x-miva-compiled .mvc
            AddType application/x-netcdf .nc
            AddType video/x-ms-asf .nsc
            AddType message/rfc822 .nws
            AddType application/octet-stream .ocx
            AddType application/oda .oda
            AddType text/x-ms-odc .odc
            AddType application/oleobject .ods
            AddType audio/ogg .oga
            AddType video/ogg .ogg
            AddType video/ogg .ogv
            AddType application/ogg .ogx
            AddType application/onenote .one
            AddType application/onenote .onea
            AddType application/onenote .onetoc
            AddType application/onenote .onetoc2
            AddType application/onenote .onetmp
            AddType application/onenote .onepkg
            AddType application/opensearchdescription+xml .osdx
            AddType font/otf .otf
            AddType application/pkcs10 .p10
            AddType application/x-pkcs12 .p12
            AddType application/x-pkcs7-certificates .p7b
            AddType application/pkcs7-mime .p7c
            AddType application/pkcs7-mime .p7m
            AddType application/x-pkcs7-certreqresp .p7r
            AddType application/pkcs7-signature .p7s
            AddType image/x-portable-bitmap .pbm
            AddType application/octet-stream .pcx
            AddType application/octet-stream .pcz
            AddType application/pdf .pdf
            AddType application/octet-stream .pfb
            AddType application/octet-stream .pfm
            AddType application/x-pkcs12 .pfx
            AddType image/x-portable-graymap .pgm
            AddType application/vnd.ms-pki.pko .pko
            AddType application/x-perfmon .pma
            AddType application/x-perfmon .pmc
            AddType application/x-perfmon .pml
            AddType application/x-perfmon .pmr
            AddType application/x-perfmon .pmw
            AddType image/png .png
            AddType image/x-portable-anymap .pnm
            AddType image/png .pnz
            AddType application/vnd.ms-powerpoint .pot
            AddType application/vnd.ms-powerpoint.template.macroEnabled.12 .potm
            AddType application/vnd.openxmlformats-officedocument.presentationml.template .potx
            AddType application/vnd.ms-powerpoint.addin.macroEnabled.12 .ppam
            AddType image/x-portable-pixmap .ppm
            AddType application/vnd.ms-powerpoint .pps
            AddType application/vnd.ms-powerpoint.slideshow.macroEnabled.12 .ppsm
            AddType application/vnd.openxmlformats-officedocument.presentationml.slideshow .ppsx
            AddType application/vnd.ms-powerpoint .ppt
            AddType application/vnd.ms-powerpoint.presentation.macroEnabled.12 .pptm
            AddType application/vnd.openxmlformats-officedocument.presentationml.presentation .pptx
            AddType application/pics-rules .prf
            AddType application/octet-stream .prm
            AddType application/octet-stream .prx
            AddType application/postscript .ps
            AddType application/octet-stream .psd
            AddType application/octet-stream .psm
            AddType application/octet-stream .psp
            AddType application/x-mspublisher .pub
            AddType video/quicktime .qt
            AddType application/x-quicktimeplayer .qtl
            AddType application/octet-stream .qxd
            AddType audio/x-pn-realaudio .ra
            AddType audio/x-pn-realaudio .ram
            AddType application/octet-stream .rar
            AddType image/x-cmu-raster .ras
            AddType image/vnd.rn-realflash .rf
            AddType image/x-rgb .rgb
            AddType application/vnd.rn-realmedia .rm
            AddType audio/mid .rmi
            AddType application/x-troff .roff
            AddType audio/x-pn-realaudio-plugin .rpm
            AddType application/rtf .rtf
            AddType text/richtext .rtx
            AddType application/x-msschedule .scd 
            AddType text/scriptlet .sct 
            AddType application/octet-stream .sea
            AddType application/set-payment-initiation .setpay
            AddType application/set-registration-initiation .setreg
            AddType text/sgml .sgml
            AddType application/x-sh .sh
            AddType application/x-shar .shar
            AddType application/x-stuffit .sit
            AddType application/vnd.ms-powerpoint.slide.macroEnabled.12 .sldm
            AddType application/vnd.openxmlformats-officedocument.presentationml.slide .sldx
            AddType audio/x-smd .smd
            AddType application/octet-stream .smi
            AddType audio/x-smd .smx
            AddType audio/x-smd .smz
            AddType audio/basic .snd
            AddType application/octet-stream .snp
            AddType application/x-pkcs7-certificates .spc
            AddType application/futuresplash .spl
            AddType audio/ogg .spx
            AddType application/x-wais-source .src
            AddType application/streamingmedia .ssm
            AddType application/vnd.ms-pki.certstore .sst
            AddType application/vnd.ms-pki.stl .stl
            AddType application/x-sv4cpio .sv4cpio
            AddType application/x-sv4crc .sv4crc
            AddType image/svg+xml .svg
            AddType image/svg+xml .svgz
            AddType application/x-shockwave-flash .swf
            AddType application/x-troff .t
            AddType application/x-tar .tar
            AddType application/x-tcl .tcl
            AddType pplication/x-tex .tex 
            AddType application/x-texinfo .texi
            AddType application/x-texinfo .texinfo
            AddType application/x-compressed .tgz
            AddType application/vnd.ms-officetheme .thmx
            AddType application/octet-stream .thn
            AddType image/tiff .tif
            AddType image/tiff .tiff
            AddType application/octet-stream .toc
            AddType application/x-troff .tr
            AddType application/x-msterminal .trm
            AddType video/vnd.dlna.mpeg-tts .ts
            AddType text/tab-separated-values .tsv
            AddType application/octet-stream .ttf
            AddType video/vnd.dlna.mpeg-tts .tts
            AddType text/plain .txt
            AddType application/octet-stream .u32
            AddType text/iuls .uls
            AddType application/x-ustar .ustar
            AddType text/vbscript .vbs
            AddType text/x-vcard .vcf
            AddType text/plain .vcs
            AddType application/vnd.ms-visio.viewer .vdx
            AddType text/xml .vml
            AddType application/vnd.visio .vsd
            AddType application/vnd.visio .vss
            AddType application/vnd.visio .vst
            AddType application/x-ms-vsto .vsto
            AddType application/vnd.visio .vsw
            AddType application/vnd.visio .vsx
            AddType application/vnd.visio .vtx
            AddType audio/wav .wav
            AddType audio/x-ms-wax .wax
            AddType image/vnd.wap.wbmp .wbmp
            AddType application/vnd.ms-works .wcm
            AddType application/vnd.ms-works .wdb
            AddType video/webm .webm
            AddType application/vnd.ms-works .wks
            AddType video/x-ms-wm .wm
            AddType audio/x-ms-wma .wma
            AddType application/x-ms-wmd .wmd
            AddType application/x-msmetafile .wmf
            AddType text/vnd.wap.wml .wml
            AddType application/vnd.wap.wmlc .wmlc
            AddType text/vnd.wap.wmlscript .wmls
            AddType application/vnd.wap.wmlscriptc .wmlsc
            AddType video/x-ms-wmp .wmp
            AddType video/x-ms-wmv .wmv
            AddType video/x-ms-wmx .wmx
            AddType application/x-ms-wmz .wmz
            AddType font/x-woff .woff
			AddType application/font-woff2			
            AddType application/vnd.ms-works .wps
            AddType application/x-mswrite .wri
            AddType x-world/x-vrml .wrl
            AddType x-world/x-vrml .wrz
            AddType text/xml .wsdl
            AddType video/x-ms-wtv .wtv
            AddType video/x-ms-wvx .wvx
            AddType application/directx .x
            AddType x-world/x-vrml .xaf
            AddType application/xaml+xml .xaml
            AddType application/x-silverlight-app .xap
            AddType application/x-ms-xbap .xbap
            AddType image/x-xbitmap .xbm
            AddType text/plain .xdr
            AddType application/xhtml+xml .xht
            AddType application/xhtml+xml .xhtml
            AddType application/vnd.ms-excel .xla
            AddType application/vnd.ms-excel.addin.macroEnabled.12 .xlam
            AddType application/vnd.ms-excel .xlc
            AddType application/vnd.ms-excel .xlm
            AddType application/vnd.ms-excel .xls
            AddType application/vnd.ms-excel.sheet.binary.macroEnabled.12 .xlsb
            AddType application/vnd.ms-excel.sheet.macroEnabled.12 .xlsm
            AddType application/vnd.openxmlformats-officedocument.spreadsheetml.sheet .xlsx
            AddType application/vnd.ms-excel .xlt
            AddType application/vnd.ms-excel.template.macroEnabled.12 .xltm
            AddType application/vnd.openxmlformats-officedocument.spreadsheetml.template .xltx
            AddType application/vnd.ms-excel .xlw
            AddType text/xml .xml
            AddType x-world/x-vrml .xof
            AddType image/x-xpixmap .xpm
            AddType application/vnd.ms-xpsdocument .xps
            AddType text/xml .xsd
            AddType text/xml .xsf
            AddType text/xml .xsl
            AddType text/xml .xslt
            AddType application/octet-stream .xsn
            AddType application/octet-stream .xtp
            AddType image/x-xwindowdump .xwd
            AddType application/x-compress .z
            AddType application/x-zip-compressed .zip
order deny,allow